<script type="text/javascript">
function submitSearcherForm() {
  document.getElementById('submitSearcherForm').submit();
}
</script>

#set($textParam = $request.getSession().getAttribute('searcher_text'))
#if($UtilMethods.isSet($textParam))
  #set($contentlets = $request.getSession().getAttribute('searcher_contentlets'))
  #set($containers = $request.getSession().getAttribute('searcher_containers'))
  #set($foundStructures = $request.getSession().getAttribute('searcher_structures'))
  #set($templates = $request.getSession().getAttribute('searcher_templates'))
  #set($foundFiles = $request.getSession().getAttribute('searcher_files'))
  #set($hostParam = $request.getSession().getAttribute('searcher_host'))
#end

#set($allHosts = $searcher.getAllHosts())
#if(!$UtilMethods.isSet($hostParam))
  #set($hostParam = $host.hostname)
#end

<table class="listingTable shadowBox">
	<tbody><tr>
		<th colspan="3">Search for Text in dotCMS</th>
		<th colspan="2" width="350" style="text-align: center; white-space: nowrap;" colspan="2">Action</th>
	</tr>
	<tr>
		<td colspan="3">
		  <form method="POST" action="/servlets/SearcherServlet" id="submitSearcherForm">
		     <input type="hidden" name="redirectPage" value="/c/portal/layout?$request.getQueryString()" />
		     Search for the following text: <input type="text" name="text" value="$!textParam"/>
			<select name="hostName">
			  <option value="all_hosts" #if($hostParam == "all_hosts")selected="selected"#end>All Hosts</option>
			  #foreach($hostName in $allHosts)
				<option value="$hostName" #if($hostName.equals($hostParam))selected="selected"#end>$hostName</option>
			  #end
			</select>
           </form>
		</td>
		<td align="center" colspan="2">
        <button dojoType="dijit.form.Button" onClick="submitSearcherForm();" iconClass="resetIcon">
             Search
        </button>

        </td>
	</tr>
	
	#if($UtilMethods.isSet($request.getSession().getAttribute('searcher_errors')) && $request.getSession().getAttribute('searcher_errors').size() > 0)
	  <h2 style="color:red">Errors</h2>
	  <ul>
	  #foreach($error in $request.getSession().getAttribute('searcher_errors'))
	    <li>$error</li>
	  #end
	  </ul>
	#end
	<div class="yui-gb portlet-toolbar">
    <h2>Text Search</h2>
    #if($UtilMethods.isSet($textParam)) 
	Last search for '$!textParam' was on $date.format('dd-MM-yyyy HH:mm:ss', $request.getSession().getAttribute('searcher_time'))
	</div>
	  #if($contentlets.size() > 0 || $containers.size() > 0 || $templates.size() > 0 || $foundStructures.size() > 0 || $foundFiles.size() > 0)
	<tr>
		<th>Title</th>
		<th width="100" style="text-align: center; white-space: nowrap;">Host</th>
		<th width="250" style="text-align: center; white-space: nowrap;">Snippet</th>
		<th width="100" style="text-align: center; white-space: nowrap;">Type</th>
		<th width="100" style="text-align: center; white-space: nowrap;">Field</th>
	</tr>
	      #foreach($searchResult in $contentlets)
    <tr><td>$!{searchResult.title}</td><td style="text-align: center; white-space: nowrap;">${searchResult.hostName}</td><td style="text-align: center; white-space: nowrap;">$webapi.htmlEncode(${searchResult.snippet})</td><td style="text-align: center; white-space: nowrap;">${searchResult.item.structureName}</td><td style="text-align: center; white-space: nowrap;">${searchResult.fieldName}</td></tr>
          #end
	      #foreach($searchResult in $containers)
    <tr><td>$!{searchResult.title}</td><td style="text-align: center; white-space: nowrap;">${searchResult.hostName}</td><td style="text-align: center; white-space: nowrap;">$webapi.htmlEncode(${searchResult.snippet})</td><td style="text-align: center; white-space: nowrap;">Container</td><td style="text-align: center; white-space: nowrap;">${searchResult.fieldName}</td></tr>
          #end
	      #foreach($searchResult in $templates)
    <tr><td>$!{searchResult.title}</td><td style="text-align: center; white-space: nowrap;">${searchResult.hostName}</td><td style="text-align: center; white-space: nowrap;">$webapi.htmlEncode(${searchResult.snippet})</td><td style="text-align: center; white-space: nowrap;">Template</td><td style="text-align: center; white-space: nowrap;">${searchResult.fieldName}</td></tr>
          #end
	      #foreach($searchResult in $foundStructures)
    <tr><td>$!{searchResult.title}</td><td style="text-align: center; white-space: nowrap;">${searchResult.hostName}</td><td style="text-align: center; white-space: nowrap;">$webapi.htmlEncode(${searchResult.snippet})</td><td style="text-align: center; white-space: nowrap;">Structure</td><td style="text-align: center; white-space: nowrap;">${searchResult.fieldName}</td></tr>
          #end
	      #foreach($searchResult in $foundFiles)
    <tr><td>$!{searchResult.item.path}$!{searchResult.item.fileName}</td><td style="text-align: center; white-space: nowrap;">${searchResult.hostName}</td><td style="text-align: center; white-space: nowrap;">$webapi.htmlEncode(${searchResult.snippet})</td><td style="text-align: center; white-space: nowrap;">File</td><td style="text-align: center; white-space: nowrap;">${searchResult.fieldName}</td></tr>
          #end
	  #else
    <tr><td colspan="5">No results were found.</td></tr>
      #end
    #else
    <tr><td colspan="5">No results were found.</td></tr>
    #end
</tbody></table>

