<style>
	#filterWrapper {
		width: 350px;
		overflow-y: auto;
		overflow-x: hidden;
		margin: 43px 0 0 5px;
	}
	#language_id_popup span {
		width: 16px;
		height: 11px;
		display: inline-block;
		vertical-align: middle;
		margin: 3px 5px 3px 2px;
	}
	span.typeIcon {
		width: 18px;
		height: 18px;
		display: inline-block;
		vertical-align: middle;
		margin: 3px 5px 3px 2px;
	}
	table.listingTable td {
		vertical-align: top;
	}
	table.listingTable td.nowrap {
		white-space: nowrap;
	}
	table.listingTable td .country-flag {
		margin-top: 4px;
	}
	.snippet {
		padding: 2px 4px;
		color: #48484c;
		background-color: #f7f7f9;
		border: 1px solid #e1e1e8;
		margin: 2px 0 8px 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		overflow: auto;
	}
	.snippet, .snippet pre {
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
		font-size: 12px;
		line-height: 1em;
	}
	.snippet .match {
		background-color: yellow;
	}
	td .snippet:last-child {
		margin-bottom: 4px;
	}
	.radioList > div {
		height: 25px;
	}
</style>

<script type="text/javascript">
	function submitSearcherForm() {
		document.getElementById('submitSearcherForm').submit();
	}
</script>

#set($textParam = $request.getSession().getAttribute('searcher_text'))

#if($UtilMethods.isSet($textParam))
	#set($page = 1)
	#set($searchFilteredResults = $request.getSession().getAttribute('searcher_filteredResults'))
	#set($pagination = $request.getAttribute('pagination'))
	#set($hostParam = $request.getSession().getAttribute('searcher_host'))
	#set($currentURL = "/c/portal/layout?$request.getQueryString()")
	#set($searchMode = $request.getSession().getAttribute('searcher_mode'))
	#set($status = $request.getSession().getAttribute('searcher_status'))
	#set($version = $request.getSession().getAttribute('searcher_version'))
	#set($language_id = $request.getSession().getAttribute('searcher_languageId'))
	#set($type_id = $request.getSession().getAttribute('searcher_typeId'))
	#set($snippetSizeBefore = $request.getSession().getAttribute('searcher_snippetSizeBefore'))
	#set($snippetSizeAfter = $request.getSession().getAttribute('searcher_snippetSizeAfter'))
	#set($excludeText = $request.getSession().getAttribute('searcher_excludeText'))
	#set($resultSize = $searchFilteredResults.size())
	#set($maxResults = $request.getSession().getAttribute('searcher_maxResults'))
	#set($resultsPerPage = $request.getSession().getAttribute('searcher_resultsPerPage'))
#else
	#set($status = "all")
	#set($language_id = 1)
	#set($type_id = "all")
	#set($searchMode = "TEXT")
	#set($version = "WORKING")
	#set($snippetSizeBefore = 200)
	#set($snippetSizeAfter = 200)
	#set($maxResults = 50)
	#set($resultsPerPage = 50)
#end

#set($allHosts = $!portletviewtool.getAllHosts())
#if(!$UtilMethods.isSet($hostParam))
	#set($hostParam = $host.hostname)
#end

#if($UtilMethods.isSet($resultSize) && $!resultSize > 0)
	#if ($UtilMethods.isSet($request.getParameter('page')))
		#set($page = $webapi.parseInt($request.getParameter('page')))
	#end
	
	#set($paginatedResults = $!portletviewtool.paginateResultsAndGetSnippets($page, $request))
#end

<div class="portlet-wrapper" >
	<form method="POST" action="/app/servlets/SearcherServlet" id="submitSearcherForm">
		<input type="hidden" name="redirectPage" value="/c/portal/layout?$request.getQueryString()" />
		<!-- START Split Screen -->
		<div dojoType="dijit.layout.BorderContainer" design="sidebar" gutters="false" liveSplitters="true" id="borderContainer" class="shadowBox headerBox">
			<!-- START Left Column -->
			<div dojoType="dijit.layout.ContentPane" id="filterWrapper" splitter="false" region="leading" class="lineRight" >
				<!-- START Advanced Search-->
				<div id="advancedSearch">
					<!-- Language dropdown-->
					<dl>
						<dt>
							Language:
						</dt>
						<dd>
							<div id="combo_language">
								<input id="language_id"/>
							</div>
						</dd>
					</dl>
					<div class="clear"></div>
					
					<!-- Hosts dropdown -->
					<dl>
						<dt>
							Host:
						</dt>
						<dd>
							<select dojoType="dijit.form.FilteringSelect" name="hostName">
								<option value="all_hosts" #if($hostParam == "all_hosts")selected="selected"#end>All Hosts</option>
								#foreach($hostName in $allHosts)
									<option value="$hostName" #if($hostName.equals($hostParam))selected="selected"#end>$hostName</option>
								#end
							</select>
						</dd>
					</dl>
					<div class="clear"></div>
					
					<!--Keyword textfield-->
					<dl>
						<dt>
							<a href="#" id="tip-keyword"><span class="hintIcon"></span></a>
							<span dojoType="dijit.Tooltip" connectId="tip-keyword" position="above" style="width:100px;"> <span class="contentHint">Please enter your search in the keyword field.</span> </span>
							Keyword:
						</dt>
						<dd>
							<input type="text" dojoType="dijit.form.TextBox" required="true" name="text" value="$!textParam"/>
						</dd>
					</dl>
					<div class="clear"></div>
					
					<!--Search Mode radio-->
					<dl>
						<dt>
							<a href="#" id="tip-search-mode"><span class="hintIcon"></span></a>
							<span dojoType="dijit.Tooltip" connectId="tip-search-mode" position="above" style="width:100px;"> <span class="contentHint">Please select the search mode of the items: <ul><li>Text: This is the standard and will search items by text.</li><li>Regex: This will search items by regular expression.</li></ul></span> </span>
							Search Mode:
						</dt>
						<dd class="radioList">
							<div>
								<input type="radio" #if($searchMode == "TEXT") checked="checked" #end dojoType="dijit.form.RadioButton" name="searchMode" id="search-mode-text" value="TEXT">
								&nbsp;<label for="search-mode-text">Text</label>
							</div>
							<div>
								<input type="radio" #if($searchMode == "REGEX") checked="checked" #end dojoType="dijit.form.RadioButton" name="searchMode" id="search-mode-regex" value="REGEX">
								&nbsp;<label for="search-mode-regex">Regex</label>
							</div>
						</dd>
					</dl>
					<div class="clear"></div>
					
					<!-- Type dropdown-->
					<dl>
						<dt>
							<a href="#" id="tip-type"><span class="hintIcon"></span></a>
							<span dojoType="dijit.Tooltip" connectId="tip-type" position="above" style="width:100px;"> <span class="contentHint">Please select the type where the search engine will search for. <br />If you select 'All', the search engine will search for all the types in the list.</span> </span>
							Type:
						</dt>
						<dd>
							<div id="combo_type">
								<input id="type_id" />
							</div>
							<input type="hidden" name="type_id" value="all">
						</dd>
					</dl>
					<div class="clear"></div>
					
					<!--Status radio-->
					<dl>
						<dt>
							<a href="#" id="tip-status"><span class="hintIcon"></span></a>
							<span dojoType="dijit.Tooltip" connectId="tip-status" position="above" style="width:100px;"> <span class="contentHint">Please select the status of the items: <ul><li>All: The search engine will search for the Published, Unpublished and Archived status</li><li>Published: The search engine will only search for Published items</li><li>Unpublished: The search engine will only search for Unpublished items</li><li>Archived: The search engine will only search for Archived items</li></ul></span> </span>
							Status:
						</dt>
						<dd class="radioList">
							<div>
								<input type="radio" #if($status == "all") checked="checked" #end dojoType="dijit.form.RadioButton" name="status" id="status-all" value="all">
								&nbsp;<label for="status-all">All</label>
							</div>
							<div>
								<input type="radio" #if($status == "published") checked="checked" #end dojoType="dijit.form.RadioButton" name="status" id="status-published" value="published">
								&nbsp;<label for="status-published">Published</label>
							</div>
							<div>
								<input type="radio" #if($status == "unpublished") checked="checked" #end dojoType="dijit.form.RadioButton" name="status" id="status-unpublished" value="unpublished">
								&nbsp;<label for="status-unpublished">Unpublished</label>
							</div>
							<div>
								<input type="radio" #if($status == "archived") checked="checked" #end dojoType="dijit.form.RadioButton" name="status" id="status-archived" value="archived">
								&nbsp;<label for="status-archived">Archived</label>
							</div>
						</dd>
					</dl>
					<div class="clear"></div>
					
					<!--Version radio-->
					<dl>
						<dt>
							<a href="#" id="tip-version"><span class="hintIcon"></span></a>
							<span dojoType="dijit.Tooltip" connectId="tip-version" position="above" style="width:100px;"> <span class="contentHint">Please select the version of the items: <ul><li>Working version: This is the standard, when you click on the item in the search results you will go to the live version of that item.</li><li>Live version: The live version is the version you see actually on your website. If the live version isn't available, then the working version will be used</li></ul></span> </span>
							Version:
						</dt>
						<dd class="radioList">
							<div>
								<input type="radio" #if($version == "WORKING") checked="checked" #end dojoType="dijit.form.RadioButton" name="version" id="version-working" value="WORKING">
								&nbsp;<label for="version-working">Working version</label>
							</div>
							<div>
								<input type="radio" #if($version == "LIVE") checked="checked" #end dojoType="dijit.form.RadioButton" name="version" id="version-live" value="LIVE">
								&nbsp;<label for="version-live">Live version</label>
							</div>
						</dd>
					</dl>
					<div id="advancedSearchOptions" style="height:0px;overflow: hidden">
						<div class="clear"></div>

						<!-- Snippet size -->
						<dl>
							<dt>
								<a href="#" id="tip-snippetSizeBefore"><span class="hintIcon"></span></a>
								<span dojoType="dijit.Tooltip" connectId="tip-snippetSizeBefore" position="above" style="width:100px;"> <span class="contentHint">Amount of characters shown in the snippet before the keyword</span> </span>
								Snippet size before keyword:
							</dt>
							<dd>
								<input type="number" dojoType="dijit.form.NumberTextBox" required="true" name="snippetSizeBefore" value="$!{snippetSizeBefore}"/>
							</dd>
						</dl>
						<div class="clear"></div>
						<dl>
							<dt>
								<a href="#" id="tip-snippetSizeAfter"><span class="hintIcon"></span></a>
								<span dojoType="dijit.Tooltip" connectId="tip-snippetSizeAfter" position="above" style="width:100px;"> <span class="contentHint">Amount of characters shown in the snippet after the keyword</span> </span>
								Snippet size after keyword:
							</dt>
							<dd>
								<input type="number" dojoType="dijit.form.NumberTextBox" required="true" name="snippetSizeAfter" value="$!{snippetSizeAfter}"/>
							</dd>
						</dl>
						
						<!-- Exclude -->
						<dl>
							<dt>
								<a href="#" id="tip-exclude"><span class="hintIcon"></span></a>
								<span dojoType="dijit.Tooltip" connectId="tip-exclude" position="above" style="width:100px;"> <span class="contentHint">This text is excluded from the search</span> </span>
								Exclude:
							</dt>
							<dd>
								<input type="text" dojoType="dijit.form.TextBox" name="excludeText" value="$!excludeText"/>
							</dd>
						</dl>
						<div class="clear"></div>
						
						<!-- Max results -->
						<dl>
							<dt>
								<a href="#" id="tip-maxResults"><span class="hintIcon"></span></a>
								<span dojoType="dijit.Tooltip" connectId="tip-maxResults" position="above" style="width:100px;"> <span class="contentHint">Max amount of results to search for. <ul><li>0: search everything</li></ul></span> </span>
								Max results size:
							</dt>
							<dd>
								<input type="number" dojoType="dijit.form.NumberTextBox" required="true" name="maxResults" value="$!maxResults"/>
							</dd>
						</dl>
						<div class="clear"></div>
						
						<!-- Results per page -->
						<dl>
							<dt>
								<a href="#" id="tip-resultsPerPage"><span class="hintIcon"></span></a>
								<span dojoType="dijit.Tooltip" connectId="tip-resultsPerPage" position="above" style="width:100px;"> <span class="contentHint">Max amount of results per page.</span> </span>
								Results size per page:
							</dt>
							<dd>
								<input type="number" dojoType="dijit.form.NumberTextBox" required="true" name="resultsPerPage" value="$!resultsPerPage"/>
							</dd>
						</dl>
						<div class="clear"></div>
					</div>
				</div>

				<!--Buttons-->
				<div class="buttonRow">
					<button dojoType="dijit.form.Button" id="searchButton" type="submit" iconClass="searchIcon">
						Search
					</button>
					<button dojoType="dijit.form.Button" onClick="clearSearch();" id="clearButton" iconClass="resetIcon">
						Clear Search
					</button>
				</div>
				<a href="javascript:toggleAdvancedSearchDiv()" style="display:block;background:#f1f1f1;border-top:1px solid #ddd;padding:8px 10px;text-align:center;text-decoration:none;">
					<div id="toggleDivText">
						Advanced
					</div>
				</a>

				<div id="measureTheHeightOfSearchTools" class="clear"></div>
			</div>
			
			<!-- START Right Column -->
			<div dojoType="dijit.layout.ContentPane" splitter="true" region="center" id="contentWrapper" style="overflow-y:auto; overflow-x:auto;margin:35px 0 0 0;">

				#if(!$UtilMethods.isSet($resultSize) || $!resultSize == 0 || !$UtilMethods.isSet($paginatedResults))
					<div class="noResultsMessage">No results found</div>
				#else
				<div id="metaMatchingResultsDiv" style="display:none;padding-top:7px;">
					<!-- START Listing Results -->
					<div id="matchingResultsDiv" style="display: none"></div>
					
					<table id="results_table" class="listingTable">

						<tr>
							<th width="5"></th>
							<th width="5"></th>
							<th>Title</th>
							<th>Type</th>
							<th>Field</th>
							<th>Host</th>
							<th>Snippet</th>
						</tr>
						
						#foreach ($searchResult in $paginatedResults)
							
							#if($searchResult.type == "CONTENT" || $searchResult.type == "WIDGET" || $searchResult.type == "FILE" || $searchResult.type == "HTML_CONTENTLET")
								#set($languageObject = $languagewebapi.getLanguage("${searchResult.item.languageId}"))
								#set($imageFlagURL = "/html/images/languages/"+ $languageObject.getLanguageCode() +"_"+ $languageObject.getCountryCode()+".gif")
								#set($imageFlagTitle = $!languageObject.getLanguage() + ", " + $!languageObject.getCountry())
							#else
								#set($imageFlagURL = "/html/images/languages/all.gif")
								#set($imageFlagTitle = "")
							#end
							
							#if($searchResult.type == "CONTAINER")
								#set($type = "Container")
								#set($inode = "javascript: editContainer('$!{searchResult.item.inode}','$!{currentURL}')")
								#set($inodeTitle = '<span class="container" title="container"></span> ' + $!{searchResult.title})
							#elseif($searchResult.type == "CONTENT" || $searchResult.type == "HTML_CONTENTLET")
								#set($type = $!{searchResult.item.structureName})
								#set($inode = "javascript: editContentlet('$!{searchResult.item.inode}','$!{currentURL}')")
								#set($inodeTitle = '<span class="contentIcon" title="content"></span> ' + $!{searchResult.title})
							#elseif($searchResult.type == "WIDGET")
								#set($type = $!{searchResult.item.structureName})
								#set($inode = "javascript: editContentlet('$!{searchResult.item.inode}','$!{currentURL}')")
								
								#if($UtilMethods.isSet($searchResult.item.widgetTitle))
									#set($title = $!{searchResult.item.widgetTitle})
								#else
									#set($title = $!{searchResult.title})
								#end
								
								#set($inodeTitle = '<span class="gearIcon" title="widget"></span> ' + $!{title})
							#elseif($searchResult.type == "FILE")
								#set($type = "File")
								#set($inode = "javascript: editContentlet('$!{searchResult.item.inode}','$!{currentURL}')")
								#set($inodeTitle = '<span class="fileIcon" title="file"></span> ' + $!{searchResult.item.path} + $!{searchResult.item.fileName})
							#elseif($searchResult.type == "TEMPLATE")
								#set($type = "Template")
								#set($inode = "javascript: editTemplate('$!{searchResult.item.inode}','$!{currentURL}')")
								#set($inodeTitle = '<span class="templateIcon" title="template"></span> ' + $!{searchResult.title})
							#elseif($searchResult.type == "STRUCTURE")
								#set($type = $!{searchResult.item.name} + ' (Structure)')
								#set($inode = "javascript: editStructure('$!{searchResult.item.inode}');")
								#set($inodeTitle = '<span class="structureIcon" title="structure"></span> ' + $!{searchResult.title})
							#elseif($searchResult.type == "HTMLPAGE")
								#set($type = "HTML Page")
								#set($inode = "$!{searchResult.item.URI}")
								#set($inodeTitle = '<span class="pageIcon" title="HTML page"></span> ' + $!{searchResult.title})
							#elseif($searchResult.type == "FOLDER")
								#set($type = "Folder")
								#set($inode = "javascript: editFolder('$!{searchResult.item.inode}','$!{currentURL}')")
								#set($inodeTitle = '<span class="folderIcon" title="folder"></span> ' + $!{searchResult.title})
							#end

							<tr>
								<!-- Status -->
								<td class="nowrap">
									#if($searchResult.status == "PUBLISHED")
										<!--published icons-->
										<span class="greyDotIcon" style="opacity:.4"></span>
										<span class="liveIcon"></span>
									#elseif($searchResult.status == "UNPUBLISHED")
										<!--unpublished icons -->
										<span class="workingIcon"></span><span class="greyDotIcon" style="opacity:.4"></span>
									#elseif($searchResult.status == "ARCHIVED")
										<!--archived icons-->
										<span class="greyDotIcon" style="opacity:.4"></span><span class="archivedIcon"></span>
									#elseif($searchResult.status == "SAVED")
										<!--unpublished changes icons-->
										<span class="workingIcon"></span><span class="liveIcon"></span>
									#else
										<!--published icons-->
										<span class="greyDotIcon" style="opacity:.4"></span>
										<span class="liveIcon"></span>
									#end
								</td>
								
								<!-- Language Image -->
								<td align="center"><img width="16px" height="11px" src="$!{imageFlagURL}" class="country-flag" title="$!{imageFlagTitle}"></td>
								
								<!-- Title + URL -->
								<td><a href="$!{inode}">$!{inodeTitle}</a></td>
								
								<!-- Type -->
								<td>$!{type}</td>
								
								<!-- Field -->
								<td>$!{searchResult.fieldName}</td>
								
								<!-- Host -->
								<td class="nowrap"><span class="hostIcon"></span> $!{searchResult.hostName}</td>
								
								<!-- Snippet -->
								<td>
									#foreach($snippet in $searchResult.snippets)
										#set( $htmlEncodedString = $webapi.htmlEncode($!snippet.toLowerCase()) )
									
										#if($searchMode == "TEXT")
											#set( $htmlEncodedTextParam = $webapi.htmlEncode($!textParam.toLowerCase()) )
										#else
											#set( $htmlEncodedTextParam = $webapi.htmlEncode($!textParam) )
										#end
									
									<div class="snippet">
										$!portletviewtool.replaceHTMLEncodedTextWithMatchHighlight($htmlEncodedString, $htmlEncodedTextParam, $searchMode)
									</div>
									#end
								</td>
							</tr>
							
						#end
					</table>
					
					<div id="results_table_popup_menus"></div>
					<div class="clear"></div>
					<!-- END Listing Results -->
				</div>
				#end
				
				#if($UtilMethods.isSet($pagination))
				<!-- Start Pagination -->
				<div class="yui-gb buttonRow">
					<div class="yui-u first" style="text-align:left; width: 10%;">
							<div id="previousDiv" style="display: none;">
									<button dojoType="dijit.form.Button" onClick="previousPage($!{pagination.currentPage});return false;" iconClass="previousIcon" id="previousDivButton">
											Previous
									</button>
							</div>&nbsp;
					</div>
					<div id="pagesdiv" class="yui-u" style="width:75%;">
							<div id="matchingResultsBottomDiv"></div>
					</div>
					<div class="yui-u" style="text-align:right; width: 10%;">
							<div id="nextDiv" style="display: none;">
									<button dojoType="dijit.form.Button" onClick="nextPage($!{pagination.currentPage});return false;" iconClass="nextIcon" id="nextDivButton">
											Next
									</button>
							</div>&nbsp;
					</div>
				</div>
				<!-- END Pagination -->
				#end
				<div class="clear"></div>

				<div class="clear"></div>
				<!-- END Listing Results -->
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	var inFrame=true;

	//refresh the page and make sure post data is removed
	function clearSearch() {
		var redirectPage = '/c/portal/layout?$request.getQueryString()';
		document.location.href = '/app/servlets/SearcherServlet?clearSearcherSession=true' + '&redirectPage=' + encodeURIComponent(redirectPage);
	}

	var storeData = {
		identifier : 'id',
		imageurl : 'imageurl',
		label : 'label',
		items : [$!portletviewtool.getLanguagesSelector()]
	}, storeDataType = {
		identifier : 'id',
		imageurl : 'imageurl',
		label : 'label',
		items : [{
			id : 'all',
			type : 'All',
			icon : '<span class="typeIcon"><img width="16px" height="15px" src="/html/images/languages/all.gif" class="country-flag" title=""></span>'
		}, {
			id : 'container',
			icon : '<span class="typeIcon container"></span>',
			type : 'Container'
		}, {
			id : 'content',
			icon : '<span class="typeIcon contentIcon"></span>',
			type : 'Content'
		}, {
			id : 'file',
			icon : '<span class="typeIcon fileIcon"></span>',
			type : 'File'
		}, {
			id : 'folder',
			icon : '<span class="typeIcon folderIcon"></span>',
			type : 'Folder'
		}, {
			id : 'htmlpage',
			icon : '<span class="typeIcon pageIcon"></span>',
			type : 'HTML page'
		}, {
			id : 'structure',
			icon : '<span class="typeIcon structureIcon"></span>',
			type : 'Structure'
		}, {
			id : 'template',
			icon : '<span class="typeIcon templateIcon"></span>',
			type : 'Template'
		}, {
			id : 'widget',
			icon : '<span class="typeIcon gearIcon"></span>',
			type : 'Widget'
		}]
	}, langStore = new dojo.data.ItemFileReadStore({
		data : storeData
	}), languageSelect = new dijit.form.FilteringSelect({
		id : "language_id",
		name : "language_id",
		value : '',
		required : true,
		store : langStore,
		searchAttr : "lang",
		labelAttr : "label",
		labelType : "html",
		onChange : function() {
			var myselect = dijit.byId('language_id');
			var imagestyle = "url('" + myselect.item.imageurl + "')";
			var selField = dojo.query('#combo_language div.dijitInputField')[0];
			dojo.style(selField, "backgroundImage", imagestyle);
			dojo.style(selField, "backgroundRepeat", "no-repeat");
			dojo.style(selField, "padding", "0px 0px 0px 25px");
			dojo.style(selField, "backgroundColor", "transparent");
			dojo.style(selField, "backgroundPosition", "3px 5px");
		},
		labelFunc : function(item, store) {
			return store.getValue(item, "label");
		}
	}, dojo.byId("language_id")), typeStore = new dojo.data.ItemFileReadStore({
		data : storeDataType
	}), typeSelect = new dijit.form.FilteringSelect({
		id : "type_id",
		name : "type_id",
		value : '',
		required : true,
		store : typeStore,
		searchAttr : "type",
		labelAttr : "label",
		labelType : "html",
		labelFunc : function(item, store) {
			return store.getValue(item, "icon") + store.getValue(item, "type");
		}
	}, dojo.byId("type_id"));
	/*set initial values*/
	typeSelect.setValue('$type_id');
	languageSelect.setValue('$language_id');
	function resizeBrowser() {
		var viewport = dijit.getViewport();
		var viewport_height = viewport.h;
		var e = dojo.byId("borderContainer");
		dojo.style(e, "height", viewport_height - 150 + "px");
		var e = dojo.byId("filterWrapper");
		dojo.style(e, "height", viewport_height - 195 + "px");
		var e = dojo.byId("contentWrapper");
		dojo.style(e, "height", viewport_height - 230 + "px");
		dijit.byId('borderContainer').resize()
	}

	dojo.addOnLoad(resizeBrowser);
	dojo.addOnLoad(initAdvancedSearch);
	dojo.connect(window, "onresize", this, "resizeBrowser");

	//Edit Objects Functions
	function editFile (parentId, objId, userId, referer, live, working, write) {
		var loc = '';
		if (isInodeSet(parentId)) {
			loc += '/c/portal/layout?p_l_id=71b8a1ca-37b6-4b6e-a43b-c7482f28db6c&p_p_id=content&p_p_action=1&p_p_state=maximized&p_p_mode=view&_content_struts_action=%2Fext%2Ffiles%2Fedit_file&_content_cmd=edit&parent=' + parentId + "&inode=" + objId + '&userId=' + userId + '&referer=' + encodeURIComponent(referer);
		}
		else {
			loc += '/c/portal/layout?p_l_id=71b8a1ca-37b6-4b6e-a43b-c7482f28db6c&p_p_id=content&p_p_action=1&p_p_state=maximized&p_p_mode=view&_content_struts_action=%2Fext%2Ffiles%2Fedit_file&_content_cmd=edit&inode=' + objId + '&userId=' + userId + '&referer=' + encodeURIComponent(referer);
		}
		
		if (inFrame) {
			window.location = loc;
		} else{
			top.location = loc;
		}
	}

	function editTemplate (objId, referer) {
		var loc = '';
		loc += '/c/portal/layout?p_l_id=71b8a1ca-37b6-4b6e-a43b-c7482f28db6c&p_p_id=content&p_p_action=1&p_p_state=maximized&p_p_mode=view&_content_struts_action=%2Fext%2Ftemplates%2Fedit_template&_content_cmd=edit&inode=' + objId + '&referer=' + encodeURIComponent(referer);
		
		if (inFrame) {
			window.location = loc;
		} else{
			top.location = loc;
		}
	}

	function editContainer (objId, referer) {
		var loc = '';
		loc += '/c/portal/layout?p_l_id=71b8a1ca-37b6-4b6e-a43b-c7482f28db6c&p_p_id=content&p_p_action=1&p_p_state=maximized&p_p_mode=view&_content_struts_action=%2Fext%2Fcontainers%2Fedit_container&_content_cmd=edit&inode=' + objId + '&referer=' + encodeURIComponent(referer);
		
		if (inFrame) {
			window.location = loc;
		} else {
			top.location = loc;
		}
	}

	function editContentlet (objId, referer) {
		var loc = '';
		loc += '/c/portal/layout?p_l_id=71b8a1ca-37b6-4b6e-a43b-c7482f28db6c&p_p_id=content&p_p_action=1&p_p_state=maximized&p_p_mode=view&_content_struts_action=%2Fext%2Fcontentlet%2Fedit_contentlet&_content_cmd=edit&inode=' + objId + '&referer=' + encodeURIComponent(referer);
		
		if (inFrame) {
			window.location = loc;
		} else {
			top.location = loc;
		}
	}

	function editStructure(inode){
		var x ='/c/portal/layout?p_l_id=56fedb43-dbbf-4ce2-8b77-41fb73bad015&p_p_id=content-types&p_p_action=1&p_p_state=maximized&p_p_mode=view&_content_types_struts_action=%2Fext%2Fstructure%2Fedit_structure&inode=' + inode;
		window.location = x;
	}
	
	function editFolder(objId, referer) {
		var loc = '';
		loc += '/c/portal/layout?p_l_id=b7ab5d3c-5ee0-4195-a17e-8f5579d718dd&p_p_id=site-browser&p_p_action=1&p_p_state=maximized&p_p_mode=view&_site_browser_struts_action=%2Fext%2Ffolders%2Fedit_folder&inode=' + objId + '&referer=' + encodeURIComponent(referer);
		
		if (inFrame) {
			window.location = loc;
		} else {
			top.location = loc;
		}
	}

	/**
	 * The functions below have been copied from the dotCMS content portlet. To make it work with
	 * the least effort, function names etc. have not been changed. DotCMS uses 'advanced search' to
	 * identify the parts of the search fields that are hidden by default. It has nothing to do with the
	 * name of our portlet itself.
	 *
	 * TODO: change these names
	 */
	function initAdvancedSearch(){
		var x = dojo.cookie("ShAdDi");
		if(x !=null && x != undefined && x != 0){
			resizeAdvancedSearch();
		}
	}

	function resizeAdvancedSearch(){
		var start = dojo.getStyle(dojo.byId('advancedSearchOptions'),'height');
		// how tall should we be
		var end=(dojo.position(dojo.byId("measureTheHeightOfSearchTools")).y + 175) - dojo.position(dojo.byId("advancedSearchOptions")).y;

		// resize

		dojo.setStyle(dojo.byId('advancedSearchOptions'),'height', '0px');

		dojo.animateProperty({
	        node: dojo.byId("advancedSearchOptions"),
	        properties: {
	            height: {start: start, end: end, unit: "px"},
	        },
	        duration: 500
	    }).play();
		dojo.byId("toggleDivText").innerHTML="Hide";
		dojo.cookie("ShAdDi", end, { });
	}

	function toggleAdvancedSearchDiv(){
		// how tall are we
		var showing = dojo.getStyle(dojo.byId('advancedSearchOptions'),'height');

		// resize
		if("0px" == showing || 0 ==showing){
			dojo.cookie("ShAdDi", "0", { });
			dojo.byId("toggleDivText").innerHTML="Hide";
			resizeAdvancedSearch();
		// hide
		}else{

			dojo.animateProperty({
		        node: dojo.byId("advancedSearchOptions"),
		        properties: {
		            height: {start: showing, end: 0, unit: "px"},
		        },
		        duration: 500
		    }).play();
			dojo.cookie("ShAdDi", 0, { });
			dojo.byId("toggleDivText").innerHTML="Advanced";
		}
	}

	#if($UtilMethods.isSet($pagination))
	
		#set( $redirectUrl = $currentURL.replaceAll("&page=[^&]+", ""))
		
		showPagination($!{pagination.currentPage}, $!{pagination.total}, $!{pagination.begin}, $!{pagination.end}, $!{pagination.totalPages}, $!{pagination.hasNext}, $!{pagination.hasPrevious});

		function showPagination (currentPage,num,begin,end,totalPages,hasNext,hasPrevious) {
			var div = document.getElementById("metaMatchingResultsDiv");
			div.style.display='';

			//Top Matching Results
			eval("totalContents=" + num + ";");

			div = document.getElementById("matchingResultsDiv")
			var strbuff = "<div class=\"yui-gb portlet-toolbar\"><div class=\"yui-u first\">showing " + begin + "-" + end + " of " + num + "</div><div id=\"tablemessage\" class=\"yui-u\" style=\"text-align:center;\">&nbsp</div><div class=\"yui-u\" style=\"text-align:right;\">";
			strbuff+= "</div></div>";
			div.innerHTML = strbuff;
			div.style.display = "";
			
			//Bottom Matching Results
			var div = document.getElementById("matchingResultsBottomDiv")
			var strbuff = "<table border='0' width=\"100%\"><tr><td align='center' nowrap='true'><b>showing " + begin + " - " + end + " of " + num;
			if(num > 0)
			{
				strbuff += " | pages ";
				for(i = 4;i >= 1;i--)
				{
					var auxPage = currentPage - i;
					if(auxPage >= 1)
					{
						strbuff += "<a href='$!{redirectUrl}&page=" + auxPage + "'> " + auxPage + "</a> ";
					}
				}
				strbuff += " " + currentPage + " ";
				for(i = 1;i <= 4;i++)
				{
					var auxPage = currentPage + i;
					if(auxPage <= totalPages)
					{
						strbuff += "<a href='$!{redirectUrl}&page=" + auxPage + "'> " + auxPage + "</a> ";
					}
				}
			}

			strbuff += "</b></td></tr></table>";
			div.innerHTML = strbuff;
			
			if (hasNext) {
				document.getElementById("nextDiv").style.display = "";
			} else {
				document.getElementById("nextDiv").style.display = "none";
			}

			if (hasPrevious) {
				document.getElementById("previousDiv").style.display = "";
			} else {
				document.getElementById("previousDiv").style.display = "none";
			}
		}
		
		function nextPage(currentPage) {
			window.location.href = "$!{redirectUrl}&page=" + (currentPage + 1);
		}
		
		function previousPage(currentPage) {
			window.location.href = "$!{redirectUrl}&page=" + (currentPage - 1);
		}
	#end
</script>